.main{
  margin: 0 200px;
}

.navMargin {
  margin: 0 196px;
  padding: 0;
  margin-right: 216px;
}

li:hover {
  background-color: white;
  color: black;
}

h1 {
  border-bottom: 2px solid black;
  font-size: 50px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;

}

h3 {
  border-bottom: 1px solid black;
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  text-align: center;
  float: none;
  margin-right: 0;
}

.container {
  width: 100%;
}

th, td {
  text-align: center;
  color: black;
}

.currency {
  text-align: right;
}

.separate {
  padding-top: 40px;
}

.glyphicon {
  font-size: 35px;
  color: black;
}

.glyphicon:hover {
  color: blue;
}

div {
  color: black;
}

table {
  font-size: 20px;
}

.navbar-default {
  background-color: black;
  font-weight: bold;
  border-color: black;
}

.navStyle {
  background-color: black;
}

ul.nav.navbar-nav a{
  color: white;
}

ul.nav.navbar-nav li  {
  cursor: pointer;
}

input.search:hover {
  border-color: blue;
  box-shadow: 0 0 10px blue;
}

input.search:focus {
  border-color: darkblue;
  box-shadow: 0 0 10px darkblue;
}

.glyphicon-envelope {
  color: inherit;
  font-size: 20px;
}

.glyphicon-envelope:hover {
  color: black;
}
