<div ng-app = "HomeApp" ng-controller="dialogCntrl">
  <md-dialog aria-label="Enter new comment">
    <md-content class="md-padding">
      <form name="userForm">
        <div layout layout-sm="column">
          <md-input-container flex>
             <label>New Comment</label>
             <textarea rows="4" cols="50" ng-model = "newComment" value = "commentId.body_of_comment">

             </textarea>
           </md-input-container>
         </div>
          <div class="md-actions" layout="row">
            <span flex></span> <md-button ng-click="cancel()"> Cancel </md-button>
            <md-button ng-click="answer(newComment)" class="md-primary"> Submit </md-button>
          </div>
  </md-dialog>
</div>
